<div class='index-header'>
  <h3><%= t('activerecord.models.user').pluralize %></h3>
  <% unless allowed_to?(:read_only?) %>
    <%= button_to t('shared.new', record: t('activerecord.models.user')), new_user_path, method: :get %>
  <% end %>
</div>
<table class='index-table'>
  <tr>
    <th><%= t('activerecord.attributes.user.username') %></th>
    <th><%= t('activerecord.attributes.user.display_name') %></th>
    <th><%= t('activerecord.attributes.user.email') %></th>
  </tr>
  <% @data.each do |row| %>
    <tr>
      <td><%= link_to row['username'], user_path(row['id']) %></td>
      <td><%= row['display_name'] %></td>
      <td><%= row['email'] %></td>
    </tr>
  <% end %>
</table>